{{>nav}}
<div class="form-items">
<!--Search for cat profile via form-->
<form action="/profiles" method="post">
  <label for="search" class="page-text">Search for a cat:</label>
  <input type="text" class="form-label" name="catSearch" id="search">
  <input type="submit" class="label-btn" value="Search">
</form>
</div>
<div id="cat-profiles-container">
  {{#each cats}}
  <div class="cat-img-container">
    <a href="/profiles/{{id}}">
    <img class="cat-img-file" src="{{image}}" alt="cat profile pic">
    </a>
    <h3>{{handle}}</h3>
  </div>
  {{/each}}
</div>