{{!-- create new cat profile --}}
<form class="create-profile-form" action="/createProfile" encType="multipart/form-data" method="post">
  <label class="form-label" for="image">Profile Pic</label>
  <input class="label-btn" type="file" name="image">
  <label class="form-label" for="name">Name</label>
  <input class="input" type="text" name="name">
  <label class="form-label" for="handle">Username/Handle</label>
  <input class="input" type="text" name="handle">
  <label class="form-label" for="quote">Quote</label>
  <input class="input" type="text" name="text">
  <input class="label-btn" type="submit" value="Create Profile">
</form>