<div id="cat-profiles-container">
  <div class="cat-img-container"><img class="cat-img-file" src="fanta.jpeg" alt="orange cat"></div>
  <div class="cat-img-container"><img class="cat-img-file" src="silvia.webp" alt="orange cat"></div>
  <div class="cat-img-container"><img class="cat-img-file" src="sampson.jpeg" alt="orange cat"></div>
</div>

<div class="form-items">
<!--Search for cat profile via form-->
<form action="/profiles" method="post">
  <label for="search" class="page-text">Search for a cat:</label>
  <input type="text" class="form-label" name="catSearch">
  <input type="submit" class="label-btn" value="Search">
</form>
</div>