{{>nav}}
<div class="profile-container">
  <div class="profile">
  <img class="display-pic" src="{{image}}" alt="my profile photo">
  <h1>{{name}}</h1>
  <h3>{{handle}}</h3>
  </div>
</div>
<p><em>&quot;{{quote}}&quot;</em></p>