body {
  background-color: rgb(93, 150, 169);
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 auto;
}

/*HEADER*/
header {
  width: 100%;
  font-size: 2rem;
  font-family: 'Londrina Solid', cursive;
  padding: 0px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

#cat-gif {
  margin-top: 32px;
  margin-left: 20px;
  max-height: 80px;
  max-width: 80px;
}

/*CAT PROFILE*/

.display-pic {
  border: 5px solid white;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 600px;
}

button {
  color: rgb(93, 150, 169);
  border: 2px solid white;
  background-color: rgb(219, 246, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  margin: 10px 10px 10px 10px;
}

.form-items {
  text-align: center;
  margin: 10px 10px 10px 10px;
}

/*CREATE PROFILE STYLING*/
.create-profile-form {
  text-align: center;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*input buttons*/
.input {
  background-color: rgb(219, 246, 255);
  color: rgb(93, 150, 169);
  border: white solid 2px;
  font-size: 1.5rem;
  max-width: 200px;
  margin: 20px 20px 20px 20px;
  display: flex;
  margin: 0 auto;
}

/*form labels*/

.form-label {
  margin: 10px 20px 10px 20px;
  font-family: 'Londrina Solid', cursive;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.label-btn {
  background-color: rgb(219, 246, 255);
  color:  rgb(93, 150, 169);
  margin: 10px 20px 10px 20px;
  font-family: 'Londrina Solid', cursive;
  font-weight: 300;
  font-size: 1rem;
}

#img-upload {
  color: rgb(93, 150, 169);;
  background-color: rgb(219, 246, 255);
  display: flex;
  width: 200px;
  font-size: 1rem;
  margin: 20px 20px 20px 20px;
  margin: 0 auto;
  border: white solid 2px;
}

/*CAT IMG CONTAINER */
#cat-img-container {
  /* background-color: pink; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.sml-cat-img {
  color: black;
  width: 150px;
  height: 100px;
  border: 4px solid white;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
}

.cat-img-file {
  height: 100px;
  width: 150px;
  border-radius: 50%;
}

/*FOOTER*/

footer {
  background-color: rgb(93, 150, 169);
  position: absolute;
  width: 100%;
  text-align: center;
  color:white;
  bottom: 0;
}