body {
  background-color: rgb(73, 126, 143);
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 auto;
}

/*HEADER*/
header {
  font-size: 2rem;
  font-family: 'Londrina Solid', cursive;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

#header-container {
  border-bottom: 2px solid white;
}

h1 {
    font-family: 'Londrina Solid', cursive;
}

/*all links*/
a {
  text-decoration: none;
  color: white;
  cursor: url('paw.png'), auto;
}

nav {
  max-width: 400px;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  margin-top: -30px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-family: 'Londrina Solid', cursive;
  border-top: solid white 2px;
}

.nav-btn {
  font-family: 'Londrina Solid', cursive;
  font-size: 1rem;
  background-color: rgb(232, 246, 250);
  color: rgb(73, 126, 143);
  border: 2px solid white;
  border-radius: 5px;
  margin: 10px;
  cursor: url('paw.png'), auto;
}

.nav-btn a {
  color: rgb(42, 112, 136);
}

#cat-gif {
  margin-top: 32px;
  margin-left: 20px;
  max-height: 80px;
  max-width: 80px;
}

/* HOME PAGE BTNS ETC */

.home-btn {
  background-color: rgb(219, 246, 255);
  color: rgb(42, 112, 136);
  border: 2px solid white;
  border-radius: 5px;
  font-family: 'Londrina Solid', cursive;
  font-size: 1.5rem;
  padding: 10px 20px 10px 20px;
  margin: 20px;
  cursor: url('paw.png'), auto;
}

/*CAT PROFILE*/

.profile-container {
  max-width: 1028px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  /* background-color: aliceblue; */
}

.profile{}

.display-pic {
  border: 5px solid white;
  border-radius: 10px;
  margin: 0 auto;
  width: 200px;
}

.form-items {
  text-align: center;
  margin: 10px 10px 10px 10px;
}

/*CREATE PROFILE STYLING*/
.create-profile-form {
  text-align: center;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*input buttons*/
.input {
  background-color: rgb(219, 246, 255);
  color: rgb(42, 112, 136);
  border: white solid 2px;
  font-size: 1.5rem;
  max-width: 200px;
  margin: 20px 20px 20px 20px;
  display: flex;
  margin: 0 auto;
}

/*form labels*/

.form-label {
  margin: 10px 20px 10px 20px;
  font-family: 'Londrina Solid', cursive;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.label-btn {
  background-color: rgb(219, 246, 255);
  color: rgb(42, 112, 136);
  margin: 10px 20px 10px 20px;
  font-family: 'Londrina Solid', cursive;
  font-weight: 300;
  font-size: 1rem;
}

#img-upload {
  color: rgb(42, 112, 136);
  background-color: rgb(219, 246, 255);
  display: flex;
  width: 200px;
  font-size: 1rem;
  margin: 20px 20px 20px 20px;
  margin: 0 auto;
  border: white solid 2px;
}

/*CAT IMG CONTAINER */
#cat-profiles-container {
  /* background-color: pink; */
  max-width: 1028px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cat-img-container {
  /* background-color: pink; */
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  border-radius: 10%;
  margin: 10px;
  padding: 30px;
  width: 140px;
}

.cat-img-file {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border: 2px solid white;
  border-radius: 50%;
}

/*FOOTER*/

footer {
  color: rgb(42, 112, 136);
  position: absolute;
  width: 100%;
  text-align: center;
  color:white;
}